{%extends 'base.html'%}
{%block body_block%}

    <div class="container mt-5 ">
        <h3>Available Mobiles</h3>
        <table class="table table-dark">
          <tr>
  
              <th>Name</th>
              <th>Price</th>
              <th>Brand</th>
              <th>Specifications</th>
              <th>Display</th>
              
              <th>Remarks</th>
          </tr>
          {% for mob in data%}
              <tr>
                  <td>{{mob.name}}</td>
                  <td>{{mob.price}}</td>
                  <td>{{mob.brand}}</td>
                  <td>{{mob.specs}}</td>
                  <td>{{mob.display}}</td>
                  <td>
                      <!--to go from all method to fetching id method link-->
                      <a href="{%url 'mobile_detailsbyid' mob.id %}"><button>View</button></a>
                      <a href="{%url 'mobile-remove' mob.id %}"><button>Delete</button></a>
                      <a href="{%url 'mobile-update' mob.id %}"><button>Update</button></a>
                     
                      
                  </td>
  
              </tr>
          {%endfor%}
          
        </table>
        
         
      </div>
      {%endblock%}